<html th:replace="~{admin/adminbase::layout(~{::section})}">
	
<head></head>
<body>
	<section>
			<div class="row">
				<h1 class="text-center text-primary">Change Password</h1>
			</div>
			<div class="row">
				<div class="col-sm-7 mx-auto p-5 bg-secondary bg-opacity-50">
					<div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
			   		     <span th:text="${message}" style="color:green;text-align:center"></span>
		    			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<form method="post">
						<div class="row">
							<div class="col-sm-6 py-2">
								<label>Enter Old Password : </label>
							</div>
							<div class="col-sm-6 py-2">
							     <input type="password" class="form-control bg-light" placeholder="Enter old password..." name="oldpass" required />
							</div>
							
							<div class="col-sm-6 py-2">
								<label>Enter New Password : </label>
							</div>
							<div class="col-sm-6 py-2">
								<input type="password" class="form-control bg-light" placeholder="Enter new password..." name="newpass" required />
							</div>
							<div class="col-sm-6 py-2">
								<label> Confirm New Password : </label>
							</div>
							<div class="col-sm-6 py-2">
								<input type="password" class="form-control bg-light" placeholder="Confirm new password..." name="confirmpass" required />
							</div>
							<div class="col-sm-12 text-center pt-4">
								<button type="submit" class="btn btn-info mx-auto rounded-0 px-4 py-3">Change Password</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
</body>
</html>