<html th:replace="~{admin/adminbase::layout(~{::section})}">
	
<head></head>
<body>
	<section>
		<h1 style="text-align: center;">Manage study material</h1>
		<div class="row">
					<div class="col-sm-12 mx-auto">
						<table id="myTable" class="table table-bordered display">
						    <thead class="text-center">
						        <tr>
						            <th class="text-center">Course</th>
						            <th class="text-center">Branch</th>
									<th class="text-center">Year</th>
									<th class="text-center">Subject</th>
									<th class="text-center">Topic</th>
									<th class="text-center">Material Type</th>
									<th class="text-center">Material</th>
									<th class="text-center">Posted Date</th>
									<th class="text-center">Delete</th>
						        </tr>
						    </thead>
						    <tbody class="text-center">
						        <tr th:each="s:${smlist}">
									<td th:text="${s.course}"></td>
									<td th:text="${s.branch}"></td>
									<td th:text="${s.year}"></td>
									<td th:text="${s.subject}"></td>
									<td th:text="${s.topic}"></td>
									<td th:text="${s.materialtype}"></td>
									<td>
										<a th:href="@{'/mat/'+${s.filename}}">    <!----download  Attribute to make option for download---->
											<span th:text="${s.filename}"></span>
										</a>
									</td>
									<td th:text="${s.posteddate}"></td>
									<td>
										<!---- --->
										<a th:href="@{deletematerial(id=${s.id})}" class="text-decoration-none">
											<button class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</button>
										</a>
									</td>
								</tr>
						    </tbody>
						</table>
					</div>
				</div>
	</section>
</body>
</html>