<html th:replace="~{admin/adminbase::layout(~{::section})}">
	
<head></head>
<body>
	<section>
		<h1 class="text-center text-info">manage all students</h1>
		<div class="row">
			<div class="col-sm-12 mx-auto">
				<table id="myTable" class="table table-bordered display">
				    <thead class="text-center">
				        <tr>
				            <th class="text-center">Enrollment No.</th>
				            <th class="text-center">Student Name</th>
							<th class="text-center">Contact No.</th>
							<th class="text-center">Course</th>
							<th class="text-center">View Details</th>
							<th class="text-center">Delete</th>
				        </tr>
				    </thead>
				    <tbody class="text-center">
				        <tr th:each="s:${slist}">
				            <td th:text="${s.enrollmentNo}" class="text-center"></td>
				            <td th:text="${s.name}"></td>
							<td th:text="${s.contactNo}" class="text-center"></td>
							<td th:text="${s.program}"></td>
							<td>
								<a th:href="@{viewdetail(id=${s.enrollmentNo})}">view more..</a>
							</td>
							<td>
								<a th:href="@{deletestudent(enroll=${s.enrollmentNo})}">
                                   <button class="btn btn-danger rounded-0" type="button" onclick="return confirm('Are you sure want to delete?')"> Delete</button>  
								</a>
							</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>