<html th:replace="~{admin/adminbase::layout(~{::section})}">
	
<head></head>
<body>
	<section>
		<h1 class="text-center text-info">Enquiries</h1>
		<div class="row">
			<div class="col-sm-12 mx-auto">
				<table id="myTable" class="table table-bordered display">
				    <thead class="text-center">
				        <tr>
				            
				            <th class="text-center">Student Name</th>
							<th class="text-center">Contact No.</th>
							<th class="text-center">E mail</th>
							<th class="text-center">Enquiry text</th>
							<th class="text-center">View Details</th>
							<th class="text-center">Delete</th>
				        </tr>
				    </thead>
				    <tbody class="text-center">
				        <tr th:each="e:${elist}">
				            <td th:text="${e.name}" class="text-center"></td>
				            <td th:text="${e.contactNo}"></td>
							<td th:text="${e.emailAddress}" class="text-center"></td>
							<td th:text="${e.enquiryText}"></td>
							<td>
								<a href="#">view more..</a>
							</td>
							<td>
							
								<a th:href="@{deleteenquiry(id=${e.id})}">
                                   <button class="btn btn-danger rounded-0" type="button" onclick="return confirm('Are you sure want to delete?')"> Delete</button>  
								</a> 
							</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>