<html th:replace="base::layout(~{::section})">
	<head>
	</head>
	<body>
		<section>
			      <!-- navbar start -->
				<div class="poster" style=" background: url('https://nouegyan.in/assets/img/Nou%20e%20gyan%20banner.jpg') no-repeat center center/cover;height: 80vh;">
				  <div class="row mt-3 py-2" style="background: gray;background-color: rgba(40, 10, 10, 0.7);height: 15vh;">
			          <nav class="navbar navbar-expand-lg">
			          <div class="col-sm-1"></div>
			          <div class="col-sm-3">
			          <h4>WELCOME STUDENTS</h4>
			        </div>
			        <div class="col-sm-1"></div>
			        <div class="col-sm-7 " >          
			          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			            <span class="navbar-toggler-icon"></span>
			          </button>
			          <div class="collapse navbar-collapse" id="navbarSupportedContent">
			            <ul class="navbar-nav  mb-2 mb-lg-0">
			              <li class="nav-item">
			                <a class="nav-link active" aria-current="page" href="/index">Home</a>
			              </li>
			              <li class="nav-item">
			                <a class="nav-link" href="/aboutus">Courses</a>
			              </li>
			              <li class="nav-item">
			                <a class="nav-link" href="/registration">Registration</a>
			              </li>
			              <li class="nav-item">
			               <a class="nav-link" href="/stulogin">Student Login</a>
			              </li>
			              <li class="nav-item">
			                <a class="nav-link" href="/adminlogin">Admin Login</a>
			              </li>
			              <li class="nav-item">
			                <a class="nav-link" href="/contactus">Contact Us</a>
			              </li>
			            </ul>
			          </div>
			        </div>
			      </nav>
				<div class="row">
				<div class="col-sm-6"></div>
				
				<div class=" col-sm-4 poster-text  ">
					<h4><b>Get Education</b></h4>
					<h2><b>	From Our Content <br>For Distance Learning</b></h2>
				  </div>
				  <h6 class="para"><b>NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN UNIVERSITY</b></h6>
				  </div>
				</div>
			    </div>
			    <!-- nav bar end -->
			  <!-- Marquee start -->
			  <div class="row mt-3 " style="background:rgb(235, 165, 61);">
			    <marquee behavior="2000" direction="" scrollamount="10" onmouseover="stop()" onmouseout="start()">
			    <div class="col-sm-12 py-2"  style="display: flex;text-align: center;">
			      
			      <div class="mx-3 text-center " style="width: 30%;background:rgb(194, 79, 13); text-align: justify;">The portal is easy to access & highly user
			        <br>friendly for the students & study centres</div>
			      <div class="mx-3  " style="width: 30%; background:rgb(194, 79, 13);"> The portal is fully secured and accessible<br> 24 x 7 to its authorised users.</div>
			      <div class="mx-3  " style="width: 30%; background:rgb(194, 79, 13);">		The portal is easy to access & highly user
				          <br>friendly for the students & study centres</div>
			    </div>
			  </marquee>
			  </div>

			<!-- marquee end -->
			<div class="container" data-aos="zoom-in" data-aos-duration="2000">
							    <div class="row">
							        <div class="col-12">
							            <h2 style="color: #aaa;">Description <span style="color: orangered;">_</span></h2>
							            <h2>About <span style="color: firebrick">NOU e-Gyan Portal</span></h2>
							        </div>
							    </div>
							    <div class="row">
							        <!-- Content Section -->
							        <div class="col-md-7 col-12 bg-white">
							            <br><br>
							            <p style="text-align: center;">
							                <b>Nalanda Open University</b> welcomes all our students, faculties & study centres to the very new
							                <br>& innovative online study portal <b>NOU e-Gyan.</b> The portal is a unique initiative by Hon'ble
							                Vice-Chancellor <b>Prof. (Dr.) K C Sinha</b>, which aims at providing online study material to the
							                students of NOU.
							            </p>
							            <br><br>
							            <p>
							                The portal is accessible from any hook and corner of the world if the system allows the permission to
							                its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the
							                academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring &
							                Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as
							                well as Nalanda Open University Admins when they are at a distance.
							            </p>
							        </div>
									<div class="col-sm-1"></div>
							        <!-- Video Section -->
							        <div class="col-md-4 col-12 bg-dark" style="background-image: url(../img/about.jpg);">
							            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
							                <iframe
							                    width="90%"
							                    height="250"
							                    src="https://www.youtube.com/embed/jVl8uLz8f9w?si=yBaX7Lg8Eq0F98Q9"
							                    title="YouTube video player"
							                    frameborder="0"
							                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							                    allowfullscreen
							                 style="position: relative;right: 100px;"></iframe>
							            </div>
							        </div>
							    </div>
			
			<!-- users of the p0rtal section start -->
			     <div class="container bg-secondary py-3 pt-5 mt-5" >
			       <div class="m-auto">
			       <h2 class="text-danger fw-bold ms-5 ps-5 pt-2 mb-4">USERS OF THE PORTAL</h2><br>
			       <div class="row g-4 pb-4">
			         <div class="col-sm-1"></div>
			           <!-- Card 1 -->
			           <div class="col-sm-3 ms-3">
			               <div class="card text-center p-2">
			                   <div class="circle-number">1</div>
			                   <div class="card-body">
			                       <p class="card-text">The university admin can log in to monitor the portal, provide access to authorized stakeholders & upload study material.</p>
			                       <a href="/adminlogin" class="btn btn-custom">University Admin</a>
			                   </div>
			               </div>
			           </div>
			           <!-- Card 2 -->
			           <div class="col-sm-3 ms-3">
			               <div class="card text-center p-2">
			                   <div class="circle-number">2</div>
			                   <div class="card-body">
			                       <p class="card-text">The university admin can log in to monitor the portal, provide access to authorized stakeholders & upload study material.</p>
			                       <a href="#" class="btn btn-custom">Study Centre</a>
			                   </div>
			               </div>
			           </div>
			           <!-- Card 3 -->
			           <div class="col-sm-3 ms-3">
			               <div class="card text-center p-2">
			                   <div class="circle-number">3</div>
			                   <div class="card-body">
			                       <p class="card-text">The university admin can log in to monitor the portal, provide access to authorized stakeholders & upload study material.</p>
			                       
			                       <a href="/stulogin" class="btn btn-custom">NOU Students</a>
			                   </div>
			               </div>
			           </div>
			           <div class="col-sm-1"></div>
			       </div>
			     </div>
			   </div>
			      <!-- users of the portal section end -->

			      <!-- features start -->
			   <div class="container" style="display: flex; flex-direction: column;" >

			     <div class="row mt-4">
			       <div class="col-sm-1"></div>
			       <div class="col-sm-10">
			         <h4>Features</h4>
			         <h2 style="color: brown;">STUDENT SERVICES</h2>
			       </div>
			       <div class="col-sm-1"></div>
			     </div>
			      
			      <div class="row my-2 " style="display: flex; width: 100%;text-align: center;">
				
				<!---1-->
			        <div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
					<div>
			              <img src="image/registration.jpg" class="card-img-top" alt="...">
				    </div>
				    <div class="bg-danger text-center ">
			             <p>Login</p>
			   	    </div>
			        </div>
				
				<!--2-->
				
				<div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
				   <div>
				      <img src="image/dashboard.jpg" class="card-img-top" alt="...">
				   </div>
				   <div class="bg-danger text-center">
				     <p>Dashboard</p>
				    </div>
				</div>
				
				<!---3-->
				<div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
				   <div>
				      <img src="image/online-courses.jpg" class="card-img-top" alt="...">
				   </div>
				   <div class="bg-danger text-center">
				     <p>Self Learning Material(SLM)</p>
				    </div>
				</div>
				<!---4-->
				<div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
				   <div>
				      <img src="image/e-lectures.jpg" class="card-img-top" alt="...">
				   </div>
				   <div class="bg-danger text-center">
				     <p>e-books</p>
				    </div>
				</div>
				
				<!---5-->
				<div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
			       <div>
				      <img src="image/self-assessment.svg" class="card-img-top" alt="...">
				   </div>
				   <div class="bg-danger text-center">
				     <p>Self-Assessment Tools</p>
				    </div>
				</div>
			      <!---6-->
			   <div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
			      <div>
			         <img src="image/performance.jpg" class="card-img-top" alt="...">
			      </div>
			      <div class="bg-danger text-center">
			        <p >Performance</p>
			       </div>
			  </div>
			   <!--7-->
			   <div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
			      <div>
			         <img src="image/feedback.jpg" class="card-img-top" alt="...">
			      </div>
			      <div class="bg-danger text-center">
			        <p>Feedback</p>
			       </div>
			   </div>
			   <!---8-->
			   <div data-aos="flip-left" class="border border-dark my-2" style="margin-left: 6%; width: 18%;">
			   <div>
			         <img src="image/course-catlog.jpg" class="card-img-top" alt="...">
			      </div>
			      <div class="bg-danger text-center">
			        <p>Courses-Catalogue</p>
			       </div>
			   </div>
			   </div>
			     </div>
			    <!-- features end -->

			   <!-- Administrative setup start -->
			   <div class="container-fluid py-5 my-5  " style="display: flex; flex-direction: column; background-color: lightgrey;" >

			     <div class="row mt-4">
			       <div class="col-sm-1"></div>
			       <div class="col-sm-10">
			         <h4>OUR MENTORS</h4>
			         <h2 style="color: brown;">ADMINISTRATIVE SETUP</h2>
			       </div>
			       <div class="col-sm-1"></div>
			     </div>

			      <div class="row my-2 py-5 mx-auto" style="display: flex; width: 100%;text-align: center;">
			       <div data-aos="fade-up" data-aos-duration="3000" class="card" style="margin-left: 8%; width: 18%;">
			         <img src="image/vc.jpg" class="card-img-top" alt="..." >
			         <p>VICE CHANCELOR</p>
			       </div>
			       <div data-aos="fade-up" data-aos-duration="3000" class="card" style="margin-left: 3%; width: 18%;">
			         <img src="image/pvc.jpg" class="card-img-top" alt="...">
			           <p >PRO VICE CHANCELOR</p>
			       </div>
			       <div data-aos="fade-up" data-aos-duration="3000" class="card" style="margin-left: 3%; width: 18%;">
			         <img src="image/registrar1.jpeg" class="card-img-top" alt="...">
			           <p>REGISTRAR</p>
			       </div>
			       <div data-aos="fade-up" data-aos-duration="3000" class="card" style="margin-left: 3%; margin-right: 8%; width: 18%;">
					
			         <img src="image/examreg.jpg" class="card-img-top" alt="...">
			           <p>REGISTRAR(Exam)</p>
			       </div>
			      </div>

			     </div>
			   <!-- Administrative setup end -->
			   
			   <!--course slider-->
			   <div class="container">
				 <div class="row pt-3">
				<div class="col-sm-12 border border-2 pt-1" >
				  <h2 class="text-dark py-3">OUR<span style="color: brown;">COURSES</span> </h2>
				  <div class="bg-white  d-flex scroll" style="overflow-y:auto ;">
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4  bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class=" col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				    <div class="col-sm-4 bg-white px-4 border border-2">
				      <img src="courses/bca.png" alt="" class="w-100">
				    </div>
				  </div>
				</div>
				</div>

			   </div>
			   <!---course end -->
			   
			   
			   <!---help desk start-->
			   <div class="container-fluid  mx-auto">
				<div class="row mt-4">
				     <div class="col-sm-1"></div>
				      <div class="col-sm-10">
				         <h4>OUR FEATURES----------------</h4>
				         <h2 style="color: brown;">ALWAYS HERE TO SUPPORT YOU</h2>
				       </div>
			          <div class="col-sm-1"></div>
				  </div>
				
			   	<div class="row">
			   		<div class="col-sm-1"></div>
			   		<div class="col-sm-5 ">
			   			<img src="image/helpline.svg" alt=""  class="w-100" height="66%"/>
			   		</div>
			   	<div class="col-sm-5">
			   		<div class="col-sm-10  pt-3  p-3 border border-dark " style="background-color: bisque;">
			   			The help desk provides user assistance to navigate and understand the aspects of the portal. This also provides a simple interface for maintenance of student information and issues faced.</div>
			   		<div class="col-sm-10 py-4 px-4 my-4 border border-dark" ><b>+91 7080102007</b></div>
			   		<div class="col-sm-10 py-4 px-4 my-4 border border-dark"><b>nouegyan@gmail.com</b></div>
			   	</div>
			   	</div>
			   </div>
			   <!---helpdsk end-->
		</section>
		
	</body>
</html>